@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
	.cat_chip {
		@apply px-4 py-2  rounded-full  bg-gray-200 font-semibold text-sm flex w-max cursor-pointer  transition duration-300  peer-checked:bg-blue-500 peer-checked:shadow-blue-400 peer-checked:shadow-lg peer-checked:text-white font-mono items-center;
	}
  .navlink{
    @apply hover:text-cyan-600 p-2 hover:underline underline-offset-4 h-full
  }
}
body {
	margin: 0;
	padding: 0;
	/* css code to set box sizing border box?  */
	/* box-sizing: border-box; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}